---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import TicketsSection from "@/components/home/TicketsSection.astro";
import FaqsSection from "@/components/home/FaqsSection.astro";
import WorkshopsSection from "@/components/home/WorkshopsSection.astro";
import ScheduleSection from "@/components/home/ScheduleSection.astro";
import SponsorsSection from "@/components/home/SponsorsSection.astro";
import StarringSection from "@/components/home/StarringSection.astro";
import FeedSection from "@/components/home/FeedSection.astro";
---

<Layout title="ATmosphereConf 2026">
  <div class="space-y-10">
    <Hero />
    <div id="tickets"><TicketsSection /></div>
    <!-- <WorkshopsSection /> -->
    <div id="talks"><StarringSection /></div>
    <div id="feed"><FeedSection /></div>
    <div id="faqs"><FaqsSection /></div>
    <!-- <ScheduleSection /> -->
    <SponsorsSection />
  </div>
</Layout>
