---
import Card from "@/components/ui/card.astro";
---

<section>
  <Card title="Remote Overview">
    <p class="pt-2">
      Our two main conference days on Saturday, March 28th, and Sunday, March
      29th, will be streaming live video and chat across three tracks. Powered
      by <a href="https://stream.place">Streamplace</a>, you'll be able to pick
      your favourite stream and watch and chat live.
    </p>
    <p class="pt-2">
      <a href="https://atscience.leaflet.pub/3mfz526irfs2y">ATScience</a>, all
      day Friday, March 27th, will also be streaming their talks.
    </p>
    <p class="pt-2">
      Our suggested pricing on remote tickets is $10USD, with an add on of a <a
        href="https://news.atmosphereconf.org/3mg72akgns22d"
        >"We Can Just Do Things" Goodstuff T-Shirt</a
      > that we'll ship to for $50USD (optional, shipping included). But no one will
      be turned away for lack of funds - you can set the price to $0. We ask that
      you do register and accept the Code of Conduct for our online spaces, as well
      as being listed as a remote attendee.
    </p>
    <p class="pt-2">
      Remote and in-person attendees are all invited to share more about
      themselves and their projects in our <a
        href="https://roomy.space/atmosphereconf.org">Roomy-powered forums</a
      >.
    </p>
    <!-- TODO: embed streamplace -->
  </Card>
</section>
