---
import TitoWidget from "@/components/shared/TitoWidget.astro";
---

<p class="text-gray-800 max-w-[65ch] mx-auto">
  <span class="group-[.remote]:hidden">Can't make it there?</span>
  <span class="group-[.live]:hidden">Want to mingle?</span>

  <a
    href="/remote#tickets"
    class="underline text-blue-600 cursor-pointer group-[.remote]:hidden"
    >Go remote →</a
  >
  <a
    href="/#tickets"
    class="underline text-blue-600 cursor-pointer group-[.live]:hidden"
    >Join us on campus ←</a
  >
</p>

<TitoWidget type="live" class:list="group-[.remote]:hidden" />
<TitoWidget type="remote" class:list="group-[.live]:hidden" />
