---
import TitoWidget from "@/components/shared/TitoWidget.astro";
---

<p class="mx-auto max-w-[65ch] text-gray-800">
  <span class="group-[.remote]:hidden">Can't make it there?</span>
  <span class="group-[.live]:hidden">Want to mingle?</span>

  <a
    href="/remote#tickets"
    class="cursor-pointer text-blue-600 underline group-[.remote]:hidden"
    >Go remote →</a
  >
  <a
    href="/#tickets"
    class="cursor-pointer text-blue-600 underline group-[.live]:hidden"
    >Join us on campus ←</a
  >
</p>

<TitoWidget type="live" class:list="group-[.remote]:hidden" />
<TitoWidget type="remote" class:list="group-[.live]:hidden" />
