---
import "../styles/global.css";
import Header from "../components/shared/Header.astro";

interface Props {
  title?: string;
  flush?: boolean;
}

const {
  title = "ATmosphereConf • Global ATProto Community Conference • Vancouver, Canada, March 26th - 29th, 2026",
  flush = false,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="512x512" />
    <link rel="apple-touch-icon" href="/favicon.png" sizes="512x512" />
    <meta
      property="og:image"
      content="https://atmosphereconf.org/favicon.png"
    />
    <meta property="og:title" content="ATmosphereConf 2026" />
    <meta
      property="og:description"
      content="ATmosphereConf is the global atproto community conference. Join us in Vancouver, Canada, March 26th - 29th, 2026."
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- <ViewTransitions /> -->
  </head>
  <body class="bg-background h-full overflow-x-hidden antialiased">
    <div class="flex min-h-screen flex-col">
      <Header transition:animate="none" />
      <main
        class={`mx-auto flex w-full max-w-4xl flex-1 flex-col px-2 sm:px-10 ${flush ? "" : "mb-10"}`}
      >
        <slot />
      </main>
    </div>
  </body>
</html>
