---
interface Props {
  class?: string;
  variant?: "secondary" | "default";
}

const { class: className = "", variant = "default" } = Astro.props;

const variantClasses: Record<NonNullable<Props["variant"]>, string> = {
  default: "border-transparent bg-primary text-primary-foreground",
  secondary: "border-transparent bg-secondary text-secondary-foreground",
};
---

<span
  class:list={[
    "focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive inline-flex w-fit shrink-0 items-center justify-center gap-1 overflow-hidden rounded-full border px-2 py-0.5 text-xs font-medium whitespace-nowrap transition-[color,box-shadow] focus-visible:ring-[3px] [&>svg]:pointer-events-none [&>svg]:size-3",
    variantClasses[variant],
    className,
  ]}
>
  <slot />
</span>
